.foss {
	.container-fluid {
		//height: 1000px;
		padding: 0;
		background-image: url('../assets/images/foss/bck-2.jpg');
		background-repeat: no-repeat;
		background-size: cover;

		.overlay {
			padding: 150px 0;
			width: 100%;

			background: rgba(0, 0, 0, 0.1);
			backdrop-filter: saturate(180%) blur(20px);
			-webkit-backdrop-filter: saturate(180%) blur(20px);

			.title-wrapper {
				display: flex;
				justify-content: center;

				.title {
					//background-color: lightblue;
					width: fit-content;
					text-align: center;
					padding: 0 !important;

					//font-family: sans-serif;
					line-height: 10rem;
					font-weight: 700;
					font-size: 8rem;

					color: rgba(255, 255, 255, 1);

					transition-duration: 400ms;

					/*&:hover {
						color: rgba(0, 0, 0, 0);
						-webkit-text-stroke: 1px #fff;
					}*/
				}
			}

			.main-content {
				//background-color: lightgreen;
				color: #fff;
				font-size: 1.2rem;

				.date-container {
					//background-color: lightblue;
					margin-top: 30px;
					display: flex;
					justify-content: center;
					align-items: center;

					.badge-wrapper {
						height: 38px;
						//background-color: lightsalmon;
						padding: 20px;
						border-radius: 7px;

						display: flex;
						align-items: center;
						justify-content: center;

						background: rgba(255, 255, 255, 0.3);
						backdrop-filter: saturate(180%) blur(20px);
						-webkit-backdrop-filter: saturate(180%) blur(20px);

						p {
							margin: 5px 0 0 10px;
							line-height: 38px;
						}

						transition-duration: 400ms;

						&:hover {
							transform: scale(1.1, 1.1);
						}
					}

					.badge-wrapper:first-child {
						margin-right: 20px;
					}
				}

				.info {
					margin-top: 100px;
					padding: 0 50px;
					text-align: justify;
				}

				.box-container {
					margin-top: 100px;
					display: flex;
					justify-content: space-evenly;
					flex-wrap: wrap;

					.box {
						//width: 48%;
						padding: 30px 40px;
						border-radius: 20px;
						margin-bottom: 40px;

						background: rgba(255, 255, 255, 0.3);
						backdrop-filter: saturate(180%) blur(20px);
						-webkit-backdrop-filter: saturate(180%) blur(20px);

						ul {
							font-size: 1rem;
						}

						transition-duration: 300ms;
						&:hover {
							transform: scale(1.05, 1.05);
						}
					}

					.box-3 {
						//width: 350px;
					}

					.bpx-4 {
						width: fit-content;
					}
				}
			}
		}
	}
}
